# <u>Training Exercices - Simple Regression: Estimation<u>

__<u>Jorge Pineño Pérez<u>__ / Module 2 - Simple Regression

__<u>Training Exercise 1.3<u>__

In [3]:
# imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
# import our dataset
games = pd.read_excel('TrainExer13.xls')
games.head()

   Game  Year  Winning time men
0     1  1948              10.3
1     2  1952              10.4
2     3  1956              10.5
3     4  1960              10.2
4     5  1964              10.0

In [5]:
# change column names
games = games.rename(columns={'Game': 'G', 'Winning time men': 'W'})
games

     G  Year      W
0    1  1948  10.30
1    2  1952  10.40
2    3  1956  10.50
3    4  1960  10.20
4    5  1964  10.00
5    6  1968   9.95
6    7  1972  10.14
7    8  1976  10.06
8    9  1980  10.25
9   10  1984   9.99
10  11  1988   9.92
11  12  1992   9.96
12  13  1996   9.84
13  14  2000   9.87
14  15  2004   9.85

Model for a trend in winning times:

$$W_i = \alpha + \beta G_i + \epsilon_i$$

__(a)__

In [7]:
games.loc[0, 'G']-games['G'].mean()

-7.0

In [8]:
# we compute beta by using the expressions shown in the slides
num = []
den = []

for i in range(len(games)):
    num1i = games.loc[i, 'G']-games['G'].mean()
    num2i = games.loc[i, 'W']-games['W'].mean()
    deni = (games.loc[i, 'G']-games['G'].mean())**2
    num.append(num1i*num2i)
    den.append(deni)

beta = np.sum(num)/np.sum(den)
beta

-0.03800000000000015

In [9]:
# we compute alpha by using the expressions shown in the slides
alpha = games['W'].mean() - beta*games['G'].mean()
alpha

10.386000000000001

In [10]:
beta, alpha

(-0.03800000000000015, 10.386000000000001)

In [34]:
# we can now get R-squared by using the expression in the slides
num = []
den = []

for i in range(len(games)):
    numi = (games.loc[i, 'W']-alpha-beta*games.loc[i, 'G'])**2
    deni = (games.loc[i, 'W']-games['W'].mean())**2
    num.append(numi)
    den.append(deni)

R2 = 1-(np.sum(num)/np.sum(den))
R2

0.6733728599027355

In [40]:
# and finally, s (error standard deviation)
s2 = (1/(len(games)-2))*np.sum(num)
s = np.sqrt(s2)
s

0.12282570515227721

__(b)__

(...)

__(c)__

(...)