# <u>Training Exercices - Multiple Regression: Motivation<u>

__<u>Jorge Pineño Pérez<u>__ / Module 3 - Multiple Regression

In [1]:
# package imports
install.packages("readxl")
library(readxl)

Installing package into 'C:/Users/USER/AppData/Local/R/win-library/4.4'
(as 'lib' is unspecified)

package 'readxl' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\USER\AppData\Local\Temp\RtmpmUhsKu\downloaded_packages

__<u>Training Exercise 2.1<u>__

__1.__

In [2]:
# import our dataframe
wage <- read_excel('TrainExer21.xls')
head(wage)

  Observation Wage LogWage  Female Age Educ Parttime
1 1            66  4.189655 0      49  1    1
2 2            34  3.526361 1      42  1    1
3 3            70  4.248495 1      42  1    1
4 4            47  3.850148 0      38  1    0
5 5           107  4.672829 1      54  1    1
6 6           188  5.236442 1      54  1    0

__(a)__

In [5]:
# run the regression and show summary of the model
log_wage <- lm(LogWage ~ Female, data = wage)
summary(log_wage)

Call:
lm(formula = LogWage ~ Female, data = wage)

Residuals:
     Min       1Q   Median       3Q      Max
-1.09606 -0.30283 -0.03676  0.30331  1.41415

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept)  4.73364    0.02434 194.449  < 2e-16 ***
Female      -0.25064    0.04013  -6.246 9.05e-10 ***
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 0.4327 on 498 degrees of freedom
Multiple R-squared:  0.07264,	Adjusted R-squared:  0.07078
F-statistic: 39.01 on 1 and 498 DF,  p-value: 9.047e-10

__(b)__

In [10]:
# add residuals to the dataframe
wage$Residuals <- resid(log_wage)
head(wage)

  Observation Wage LogWage  Female Age Educ Parttime Residuals
1 1            66  4.189655 0      49  1    1        -0.5439896
2 2            34  3.526361 1      42  1    1        -0.9566413
3 3            70  4.248495 1      42  1    1        -0.2345066
4 4            47  3.850148 0      38  1    0        -0.8834967
5 5           107  4.672829 1      54  1    1         0.1898270
6 6           188  5.236442 1      54  1    0         0.7534402

In [12]:
# regress the residuals (e) on a constant and the education level
resid1 <- lm(Residuals ~ Educ, data=wage)
summary(resid1)

Call:
lm(formula = Residuals ~ Educ, data = wage)

Residuals:
     Min       1Q   Median       3Q      Max
-1.07907 -0.28095 -0.01408  0.25163  1.21331

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept) -0.45265    0.03614  -12.53   <2e-16 ***
Educ         0.21783    0.01550   14.05   <2e-16 ***
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 0.3662 on 498 degrees of freedom
Multiple R-squared:  0.2839,	Adjusted R-squared:  0.2824
F-statistic: 197.4 on 1 and 498 DF,  p-value: < 2.2e-16

In [13]:
# regress the residuals (e) on a constant and the part-time dummy
resid2 <- lm(Residuals ~ Parttime, data=wage)
summary(resid2)

Call:
lm(formula = Residuals ~ Parttime, data = wage)

Residuals:
     Min       1Q   Median       3Q      Max
-1.08753 -0.30477 -0.02774  0.30681  1.44257

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept) -0.02842    0.02281  -1.246   0.2134
Parttime     0.09869    0.04251   2.322   0.0207 *
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 0.4304 on 498 degrees of freedom
Multiple R-squared:  0.01071,	Adjusted R-squared:  0.008721
F-statistic:  5.39 on 1 and 498 DF,  p-value: 0.02065