# <u>Training Exercices - Simple Regression: Application<u>

__<u>Jorge Pineño Pérez<u>__ / Module 2 - Simple Regression

__<u>Training Exercise 1.5<u>__

In [3]:
# imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
# import our dataset
games = pd.read_excel('TrainExer15.xls')
games.head()

   Game  Year  Winning time men  Winning time women
0     1  1948              10.3                11.9
1     2  1952              10.4                11.5
2     3  1956              10.5                11.5
3     4  1960              10.2                11.0
4     5  1964              10.0                11.4

In [7]:
# change column names
games = games.rename(columns={'Game': 'G', 'Winning time men': 'WM', 'Winning time women': 'WW'})
games

     G  Year     WM     WW
0    1  1948  10.30  11.90
1    2  1952  10.40  11.50
2    3  1956  10.50  11.50
3    4  1960  10.20  11.00
4    5  1964  10.00  11.40
5    6  1968   9.95  11.08
6    7  1972  10.14  11.07
7    8  1976  10.06  11.08
8    9  1980  10.25  11.06
9   10  1984   9.99  10.97
10  11  1988   9.92  10.54
11  12  1992   9.96  10.82
12  13  1996   9.84  10.94
13  14  2000   9.87  10.75
14  15  2004   9.85  10.93

__(a)__

In [29]:
# substitute and get the value of WM and WW in 2140 to see if they are equal,
# using the linear regression model computed in the slides
G2140 = (2140-1948) / 4

m2140 = 10.386 - 0.038*(G2140)
w2140 = 11.606 - 0.063*(G2140)
m2140, w2140

(8.562, 8.582)

__(b)__

In [32]:
# substitute and get the value of WM and WW in 2140 to see if they are equal,
# using the non-linear regression model computed in the slides
G2140 = (2192-1948) / 4

m2140 = 2.341 - 0.0038*(G2140)
w2140 = 2.452 - 0.0056*(G2140)
m2140, w2140

(2.1092000000000004, 2.1104)

__(c)__

(...)

__(d)__

(...)