# <u>Training Exercices - Endogeneity: Consequences<u>

__<u>Jorge Pineño Pérez<u>__ / Module 5 - Endogeneity

In [1]:
# package imports
install.packages("readxl")
install.packages("dplyr")
library(readxl)
library(dplyr)

Installing package into 'C:/Users/USER/AppData/Local/R/win-library/4.4'
(as 'lib' is unspecified)

package 'readxl' successfully unpacked and MD5 sums checked

Warning message:
"cannot remove prior installation of package 'readxl'"
Warning message in file.copy(savedcopy, lib, recursive = TRUE):
"problema al copiar C:\Users\USER\AppData\Local\R\win-library\4.4\00LOCK\readxl\libs\x64\readxl.dll  a C:\Users\USER\AppData\Local\R\win-library\4.4\readxl\libs\x64\readxl.dll: Permission denied"
Warning message:
"restored 'readxl'"

The downloaded binary packages are in
	C:\Users\USER\AppData\Local\Temp\RtmpEnS1h5\downloaded_packages

Installing package into 'C:/Users/USER/AppData/Local/R/win-library/4.4'
(as 'lib' is unspecified)

package 'dplyr' successfully unpacked and MD5 sums checked

Warning message:
"cannot remove prior installation of package 'dplyr'"
Warning message in file.copy(savedcopy, lib, recursive = TRUE):
"problema al copiar C:\Users\USER\AppData\Local\R\win-library\4.4\00LOCK\dplyr\libs\x64\dplyr.dll  a C:\Users\USER\AppData\Local\R\win-library\4.4\dplyr\libs\x64\dplyr.dll: Permission denied"
Warning message:
"restored 'dplyr'"

The downloaded binary packages are in
	C:\Users\USER\AppData\Local\Temp\RtmpEnS1h5\downloaded_packages

Adjuntando el paquete: 'dplyr'


The following objects are masked from 'package:stats':

    filter, lag


The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

__<u>Training Exercise 4.2<u>__

In [5]:
# import the sales dataframe
sal_p <- read_excel('TrainExer42.xls')
head(sal_p)

  PRICE0   PRICE1   PRICE5    PRICE10   SALES0_0 SALES0_1 SALES0_5 SALES0_10
1 4.910058 4.910058  4.910058  4.910058 94.63940 94.63940 94.63940 94.63940
2 3.216531 3.216531  3.216531  3.216531 97.30212 97.30212 97.30212 97.30212
3 5.978282 6.978282 10.978282 15.978282 94.50512 93.50512 89.50512 84.50512
4 4.042785 4.042785  4.042785  4.042785 96.10561 96.10561 96.10561 96.10561
5 4.017662 4.017662  4.017662  4.017662 95.12334 95.12334 95.12334 95.12334
6 6.107970 6.107970  6.107970  6.107970 94.54308 94.54308 94.54308 94.54308
  SALES1_0 SALES1_1 SALES1_5 SALES1_10 SALES5_0 SALES5_1 SALES5_5 SALES5_10
1 94.63940 94.63940 94.63940 94.63940  94.63940 94.63940 94.63940 94.63940
2 97.30212 97.30212 97.30212 97.30212  97.30212 97.30212 97.30212 97.30212
3 95.50512 94.50512 90.50512 85.50512  99.50512 98.50512 94.50512 89.50512
4 96.10561 96.10561 96.10561 96.10561  96.10561 96.10561 96.10561 96.10561
5 95.12334 95.12334 95.12334 95.12334  95.12334 95.12334 95.12334 95.12334
6 94.54308 94.54308 94.54308 94.54308  94.54308 94.54308 94.54308 94.54308
  SALES10_0 SALES10_1 SALES10_5 SALES10_10
1  94.63940  94.63940 94.63940  94.63940
2  97.30212  97.30212 97.30212  97.30212
3 104.50512 103.50512 99.50512  94.50512
4  96.10561  96.10561 96.10561  96.10561
5  95.12334  95.12334 95.12334  95.12334
6  94.54308  94.54308 94.54308  94.54308

__(a)__

In [8]:
# regress "SALES0_0" on a constant and "PRICE0"
sales00 <- lm(SALES0_0 ~ PRICE0, data=sal_p)
summary(sales00)

Call:
lm(formula = SALES0_0 ~ PRICE0, data = sal_p)

Residuals:
     Min       1Q   Median       3Q      Max
-1.53708 -0.31008  0.03496  0.32612  1.53896

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept) 99.86202    0.16089  620.68   <2e-16 ***
PRICE0      -0.97580    0.03152  -30.96   <2e-16 ***
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 0.5246 on 248 degrees of freedom
Multiple R-squared:  0.7944,	Adjusted R-squared:  0.7936
F-statistic: 958.5 on 1 and 248 DF,  p-value: < 2.2e-16

In [9]:
# regress "SALES0_1" on a constant and "PRICE1"
sales01 <- lm(SALES0_1 ~ PRICE1, data=sal_p)
summary(sales01)

Call:
lm(formula = SALES0_1 ~ PRICE1, data = sal_p)

Residuals:
     Min       1Q   Median       3Q      Max
-1.52249 -0.30255  0.04277  0.33053  1.54516

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept) 99.80846    0.15644  638.01   <2e-16 ***
PRICE1      -0.96590    0.02989  -32.31   <2e-16 ***
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 0.5239 on 248 degrees of freedom
Multiple R-squared:  0.8081,	Adjusted R-squared:  0.8073
F-statistic:  1044 on 1 and 248 DF,  p-value: < 2.2e-16

In [10]:
# regress "SALES0_5" on a constant and "PRICE5"
sales05 <- lm(SALES0_5 ~ PRICE5, data=sal_p)
summary(sales05)

Call:
lm(formula = SALES0_5 ~ PRICE5, data = sal_p)

Residuals:
     Min       1Q   Median       3Q      Max
-1.51833 -0.30892  0.02791  0.32059  1.55555

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept) 99.83325    0.10019  996.40   <2e-16 ***
PRICE5      -0.97325    0.01691  -57.57   <2e-16 ***
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 0.5226 on 248 degrees of freedom
Multiple R-squared:  0.9304,	Adjusted R-squared:  0.9301
F-statistic:  3314 on 1 and 248 DF,  p-value: < 2.2e-16

In [11]:
# regress "SALES0_10" on a constant and "PRICE10"
sales010 <- lm(SALES0_10 ~ PRICE10, data=sal_p)
summary(sales010)

Call:
lm(formula = SALES0_10 ~ PRICE10, data = sal_p)

Residuals:
     Min       1Q   Median       3Q      Max
-1.52874 -0.31964  0.02457  0.31535  1.55505

Coefficients:
             Estimate Std. Error t value Pr(>|t|)
(Intercept) 99.889756   0.068129  1466.2   <2e-16 ***
PRICE10     -0.984965   0.009616  -102.4   <2e-16 ***
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 0.5227 on 248 degrees of freedom
Multiple R-squared:  0.9769,	Adjusted R-squared:  0.9768
F-statistic: 1.049e+04 on 1 and 248 DF,  p-value: < 2.2e-16

In [48]:
# display the price coefficients and R squared for these 4 scenarios
results1 <- data.frame(
    price0 = summary(sales00)$coefficients['PRICE0', 'Estimate'],
    R2_price0 = summary(sales00)$r.squared,
    price1 = summary(sales01)$coefficients['PRICE1', 'Estimate'],
    R2_price1 = summary(sales01)$r.squared,
    price5 = summary(sales05)$coefficients['PRICE5', 'Estimate'],
    R2_price5 = summary(sales05)$r.squared,
    price10 = summary(sales010)$coefficients['PRICE10', 'Estimate'],
    R2_price10 = summary(sales010)$r.squared
)
results1

  price0     R2_price0 price1     R2_price1 price5     R2_price5 price10
1 -0.9758003 0.794443  -0.9658955 0.8080797 -0.9732528 0.930382  -0.9849649
  R2_price10
1 0.9769073

__(b)__

In [37]:
# regress "SALES1_0" on a constant and "PRICE0"
sales10 <- lm(SALES1_0 ~ PRICE0, data=sal_p)
summary(sales10)

Call:
lm(formula = SALES1_0 ~ PRICE0, data = sal_p)

Residuals:
     Min       1Q   Median       3Q      Max
-1.64997 -0.39597 -0.00097  0.35805  1.83820

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept) 99.94849    0.19677  507.94   <2e-16 ***
PRICE0      -0.96909    0.03855  -25.14   <2e-16 ***
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 0.6416 on 248 degrees of freedom
Multiple R-squared:  0.7182,	Adjusted R-squared:  0.717
F-statistic:   632 on 1 and 248 DF,  p-value: < 2.2e-16

In [38]:
# regress "SALES5_0" on a constant and "PRICE0"
sales50 <- lm(SALES5_0 ~ PRICE0, data=sal_p)
summary(sales50)

Call:
lm(formula = SALES5_0 ~ PRICE0, data = sal_p)

Residuals:
    Min      1Q  Median      3Q     Max
-2.1015 -0.8819 -0.4786 -0.0794  5.3589

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept) 100.2943     0.5387 186.176   <2e-16 ***
PRICE0       -0.9422     0.1055  -8.928   <2e-16 ***
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 1.757 on 248 degrees of freedom
Multiple R-squared:  0.2432,	Adjusted R-squared:  0.2402
F-statistic: 79.71 on 1 and 248 DF,  p-value: < 2.2e-16

In [39]:
# regress "SALES10_0" on a constant and "PRICE0"
sales100 <- lm(SALES10_0 ~ PRICE0, data=sal_p)
summary(sales100)

Call:
lm(formula = SALES10_0 ~ PRICE0, data = sal_p)

Residuals:
    Min      1Q  Median      3Q     Max
-2.6660 -1.4752 -1.0976 -0.6753  9.7599

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept) 100.7267     1.0271  98.071  < 2e-16 ***
PRICE0       -0.9087     0.2012  -4.516 9.75e-06 ***
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 3.349 on 248 degrees of freedom
Multiple R-squared:  0.07599,	Adjusted R-squared:  0.07226
F-statistic: 20.39 on 1 and 248 DF,  p-value: 9.748e-06

In [49]:
# display the price coefficients and R squared for these 4 scenarios
results2 <- data.frame(
    price0 = summary(sales00)$coefficients['PRICE0', 'Estimate'],
    R2_price0 = summary(sales00)$r.squared,
    price1 = summary(sales10)$coefficients['PRICE0', 'Estimate'],
    R2_price1 = summary(sales10)$r.squared,
    price5 = summary(sales50)$coefficients['PRICE0', 'Estimate'],
    R2_price5 = summary(sales50)$r.squared,
    price10 = summary(sales100)$coefficients['PRICE0', 'Estimate'],
    R2_price10 = summary(sales100)$r.squared
)
results2

  price0     R2_price0 price1     R2_price1 price5     R2_price5 price10
1 -0.9758003 0.794443  -0.9690863 0.7181813 -0.9422303 0.2432422 -0.9086602
  R2_price10
1 0.07598765

__(c)__

In [42]:
# regress "SALES1_1" on a constant and "PRICE1"
sales11 <- lm(SALES1_1 ~ PRICE1, data=sal_p)
summary(sales11)

Call:
lm(formula = SALES1_1 ~ PRICE1, data = sal_p)

Residuals:
     Min       1Q   Median       3Q      Max
-1.56532 -0.39473 -0.01803  0.39986  1.72987

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept) 99.45787    0.18721  531.25   <2e-16 ***
PRICE1      -0.87389    0.03577  -24.43   <2e-16 ***
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 0.6269 on 248 degrees of freedom
Multiple R-squared:  0.7064,	Adjusted R-squared:  0.7053
F-statistic: 596.8 on 1 and 248 DF,  p-value: < 2.2e-16

In [43]:
# regress "SALES5_5" on a constant and "PRICE5"
sales55 <- lm(SALES5_5 ~ PRICE5, data=sal_p)
summary(sales55)

Call:
lm(formula = SALES5_5 ~ PRICE5, data = sal_p)

Residuals:
    Min      1Q  Median      3Q     Max
-3.2138 -0.6495 -0.0715  0.7339  2.3907

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept) 96.51479    0.19664 490.830  < 2e-16 ***
PRICE5      -0.27289    0.03318  -8.225  1.1e-14 ***
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 1.026 on 248 degrees of freedom
Multiple R-squared:  0.2143,	Adjusted R-squared:  0.2111
F-statistic: 67.65 on 1 and 248 DF,  p-value: 1.105e-14

In [44]:
# regress "SALES10_10" on a constant and "PRICE10"
sales1010 <- lm(SALES10_10 ~ PRICE10, data=sal_p)
summary(sales1010)

Call:
lm(formula = SALES10_10 ~ PRICE10, data = sal_p)

Residuals:
    Min      1Q  Median      3Q     Max
-3.6904 -0.6895 -0.0072  0.8388  2.7582

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept) 95.51483    0.14589  654.69  < 2e-16 ***
PRICE10     -0.08504    0.02059   -4.13 4.97e-05 ***
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 1.119 on 248 degrees of freedom
Multiple R-squared:  0.06434,	Adjusted R-squared:  0.06057
F-statistic: 17.05 on 1 and 248 DF,  p-value: 4.97e-05

In [50]:
# display the price coefficients and R squared for these 4 scenarios
results3 <- data.frame(
    price00 = summary(sales00)$coefficients['PRICE0', 'Estimate'],
    R2_price00 = summary(sales00)$r.squared,
    price11 = summary(sales11)$coefficients['PRICE1', 'Estimate'],
    R2_price11 = summary(sales11)$r.squared,
    price55 = summary(sales55)$coefficients['PRICE5', 'Estimate'],
    R2_price55 = summary(sales55)$r.squared,
    price1010 = summary(sales1010)$coefficients['PRICE10', 'Estimate'],
    R2_price1010 = summary(sales1010)$r.squared
)
results3

  price00    R2_price00 price11    R2_price11 price55    R2_price55 price1010
1 -0.9758003 0.794443   -0.8738919 0.7064448  -0.2728864 0.2143157  -0.08503897
  R2_price1010
1 0.06433937